# Compare alleles across LIBD population, ref population, summary stats

Running this again after making alleles uniform between LIBD, REF populations.

## Define paths

In [1]:
library(data.table)

In [2]:
library(CpGWAS)

In [3]:
chr <- 1

In [4]:
paths_ref <- list(
  pvar_path = paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
  pgen_path = paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pgen"),
  psam_path = paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".psam")
)

In [5]:
paths_libd <- list(
  pvar_path = paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/libd_chr", chr, ".pvar"),
  pgen_path = paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/libd_chr", chr, ".pgen"),
  psam_path = paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/libd_chr", chr, ".psam")
)

In [6]:
summary_stats_paths <- list.files("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/",
                                  pattern = "stat",
                                  full.names = TRUE)

In [7]:
k <- 1

In [8]:
summary_stats_path <- summary_stats_paths[k]

In [ ]:
summary_stats <- suppressWarnings(fread(summary_stats_path))
summary_stats <- clean_and_standardize_colnames(summary_stats)

In [ ]:
ref <- fread(paths_ref$pvar_path)

In [ ]:
head(ref)

In [ ]:
libd <- fread(paths_libd$pvar_path)

In [ ]:
head(libd)

In [ ]:
library(data.table)

summary_stats_paths <- list.files("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas/", pattern = "stat", full.names = TRUE)

In [ ]:
summary_stats_paths

In [ ]:
# summary_stats_paths <- summary_stats_paths[!grepl("alleleprocessed", summary_stats_paths)]

In [ ]:
summary_stats_paths <- summary_stats_paths[grepl("a2", summary_stats_paths)]

In [ ]:
summary_stats_paths

In [ ]:
file.remove("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp_alleleprocessed_alleleprocessed.txt")

In [ ]:
colnames(ref)

In [ ]:
colnames(libd)

In [ ]:
colnames(summary_stats)

In [ ]:
print("test")

## Try for one chr (7)

In [79]:
summary_stats_path <- summary_stats_paths[3]

In [80]:
summary_stats_paths

[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp"
[2] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_mdd"
[3] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_scz"

In [81]:
summary_stats <- fread(summary_stats_path)

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 19 columns (i.e. invalid file). Added 18 extra default column names at the end.”

In [93]:
head(summary_stats)

  CHR BP       SNP              A1 A2 logOR        SE     PVAL   NGT FCAS
1 10  98322628 10:100082385_C_A C  A   0.004001981 0.0201 0.8422  0  0.934
2 10  98429811 10:100189568_C_A C  A   0.010098835 0.0200 0.6135 25  0.925
3 10  98624242 10:100383999_C_G C  G  -0.007397293 0.0122 0.5428  0  0.799
4 10  99046608 10:100806365_A_C A  C  -0.002703652 0.0152 0.8603 26  0.119
5 10  99053963 10:100813720_C_T C  T  -0.003596460 0.0152 0.8123  0  0.118
6 10  99497901 10:101257658_T_G T  G   0.005096988 0.0112 0.6474  0  0.259
  FCON  IMPINFO NEFFDIV2 NCAS  NCON
1 0.941 0.971   43354.73 37940 103559
2 0.925 0.890   42290.42 36834 102499
3 0.797 1.000   43445.24 38084 103625
4 0.126 0.993   43445.24 38084 103625
5 0.126 0.990   43445.24 38084 103625
6 0.259 0.997   43445.24 38084 103625
  DIRE                                                      Z
1 +++-+--++-+-++---+--++++-++--++++++--+++-+-----??-?+--+?-  0.1991036
2 -++--++++--+-++++++-?---++--+--+-+---+-+----+++??-?+?+-?+  0.5049417
3 --++++-+++-++-++-+--++-++-+-+---+++-+----+--++-??-?---+-+ -0.6063355
4 ++--++++-+-++---+++-+---+++-+--+---+--++---++++??+?---++- -0.1778718
5 --++----+-+--+++---+-+++---+-++-+++-++--+++-+--??-?+++--+ -0.2366092
6 -+--+++----+-+--++++---+---++-++---+--++--+-+++??+?--+--+  0.4550882

#### What's up with some of these not matching

In [83]:
summary_stats_test <- summary_stats[grepl(":", summary_stats$V2), ]

In [84]:
dim(summary_stats_test)

[1] 5345   19

In [52]:
library(stringr)

In [53]:
pos_test <- str_split_fixed(summary_stats_test$V2, ":", 2)[, 2]
pos_test <- str_split_fixed(pos_test, "_", 2)[, 1]

In [54]:
head(pos_test)

[1] "106060544" "101934971" "103606580" "109970076" "104701401" "104122246"

In [55]:
any(pos_test == summary_stats_test$V3)

[1] TRUE

In [58]:
colnames(summary_stats_test)[1] <- "V1"

In [59]:
levels(factor(summary_stats_test$V1))

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22"

In [60]:
head(summary_stats_test)

  V1 V2              V3        V4 V5 V6    V7    V8    V9      V10    V11
1 8  8:106060544_T_G 105048316 T  G  0.638 0.639 0.991 0.99094 0.0090 0.31340
2 8  8:101934971_T_C 100922743 T  C  0.675 0.674 0.987 1.00331 0.0092 0.71890
3 8  8:103606580_C_T 102594352 C  T  0.912 0.914 0.985 0.97210 0.0154 0.06564
4 8  8:109970076_G_T 108957847 G  T  0.919 0.919 1.000 1.00702 0.0158 0.65690
5 8  8:104701401_A_G 103689173 A  G  0.918 0.920 0.988 0.96618 0.0158 0.02995
6 8  8:104122246_C_A 103110018 C  A  0.919 0.920 0.971 0.99243 0.0160 0.63480
  V12
1  1
2 59
3 13
4 64
5  0
6 32
  V13
1 +----+-+-+--+-+----+----+-+++-+--+---+-+---+--+-++-++-++-----+-+-----++-++--
2 ++++++-++-+-+++--+++-++---+--+---+---+-+----+++----++-+++++-----+-++-++++-++
3 --------++------+++-+--++++-++--+--+-++--+++++-+++-++++++++----+-+-+--+-++++
4 ---++-++++++--+-+-+--+--+----+-++-+-+-++-+-+----+--+--+-+++++--++--++---++--
5 ----+---+-+---+-++--++++-+----+-+---+++++---++-+++---++---+--+--+++---+-----
6 -++++---+-++--+-++++------------++--+-++++--+-++--+--++++-+-+-+-+---+++--+++
  V14  V15 V16     V17   V18   V19
1  2.6 75  0.41500 53386 77258 58749.13
2 20.0 75  0.07086 53386 77258 58749.13
3 12.9 75  0.17970 53386 77258 58749.13
4 12.9 75  0.17910 53386 77258 58749.13
5  0.0 75  0.70490 53386 77258 58749.13
6 13.4 75  0.16970 53386 77258 58749.13

In [61]:
summary_stats_test_matching <- summary_stats_test[which(summary_stats_test$V3 == pos_test), ]

In [62]:
summary_stats_test_nonmatching <- summary_stats_test[!which(summary_stats_test$V3 == pos_test), ]

In [63]:
dim(summary_stats_test_matching)

[1] 105  19

In [64]:
dim(summary_stats_test_nonmatching)

[1] 5240   19

In [65]:
dim(summary_stats)

[1] 5879740      19

In [67]:
head(summary_stats_test_matching)

  V1 V2            V3      V4 V5 V6    V7    V8    V9      V10    V11    V12
1 11 11:928669_C_A  928669 C  A  0.464 0.463 0.972 1.01390 0.0088 0.1158  0
2 11 11:929269_A_G  929269 A  G  0.369 0.369 0.980 1.00652 0.0090 0.4673  0
3 11 11:743813_T_C  743813 T  C  0.462 0.456 0.969 1.00995 0.0088 0.2617 41
4  9 9:1068251_G_A 1068251 G  A  0.432 0.430 0.982 0.99900 0.0088 0.9080  0
5  9 9:2750294_G_C 2750294 G  C  0.922 0.920 0.967 0.99840 0.0162 0.9193 12
6  9 9:1180817_C_A 1180817 C  A  0.943 0.941 0.952 1.02747 0.0188 0.1491  0
  V13
1 --+--++---+--+---+---+-++++--++-++-+-+-+-++---+-+++-----++--++++-++++-+---++
2 -++++---++-++-+++-++++-----++--+--+-+-+-+--+-+++---++++++-++---+++--+-++++--
3 +----++++-+-+--+-++++++-++-++-++--+++--+--+----+++---+-++-+++--++++++++----+
4 +--+++--++--+++------+-+-+++-+++-----+-+--+++-+---+++-++---+--+--++-+---++-+
5 ++--++-+-++++-+++-+--+-+-+---+--++-+--++----+-+-----++------+----+---+-+-+++
6 ++-+-+-+++++---++-+--+++--+-+-------++++--------++-+-+++----++--++-----++++-
  V14  V15 V16     V17   V18   V19
1 26.2 75  0.02228 53386 77258 58749.13
2  8.9 75  0.26250 53386 77258 58749.13
3  0.0 75  0.70980 53386 77258 58749.13
4  0.0 75  0.84280 53386 77258 58749.13
5  0.0 75  0.95190 53386 77258 58749.13
6 26.0 75  0.02297 53386 77258 58749.13

#### Check for the others

In [71]:
for(i in 1:3){
    summary_stats_path <- summary_stats_paths[i]
    
    summary_stats <- fread(summary_stats_path)
    
    summary_stats_test <- summary_stats[grepl(":", summary_stats$V2), ]
    
    library(stringr)
    
    pos_test <- str_split_fixed(summary_stats_test$V2, ":", 2)[, 2]
    pos_test <- str_split_fixed(pos_test, "_", 2)[, 1]
    
    colnames(summary_stats_test)[1] <- "V1"
    
    summary_stats_test_matching <- summary_stats_test[which(summary_stats_test$V3 == pos_test), ]
    
    summary_stats_test_nonmatching <- summary_stats_test[!which(summary_stats_test$V3 == pos_test), ]
    
    print(paste0("This file: ", summary_stats_paths[i]))
    n_match <- nrow(summary_stats_test_matching)
    n_nonmatch <- nrow(summary_stats_test_nonmatching)
    
    perc_match <- n_match/n_nonmatch
    
    perc_match <- n_match / n_nonmatch
    print(paste0("n matching: ", n_match))
    print(paste0("n nonmatching: ", n_nonmatch))
    print(paste0("perc matching: ", perc_match, "%"))
}

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 16 columns (i.e. invalid file). Added 15 extra default column names at the end.”

[1] "This file: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp"
[1] "n matching: 0"
[1] "n nonmatching: 0"
[1] "perc matching: NaN%"
[1] "This file: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_mdd"
[1] "n matching: 0"
[1] "n nonmatching: 0"
[1] "perc matching: NaN%"

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 19 columns (i.e. invalid file). Added 18 extra default column names at the end.”

[1] "This file: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_scz"
[1] "n matching: 105"
[1] "n nonmatching: 5240"
[1] "perc matching: 0.0200381679389313%"

#### Continue onward...

In [49]:
summary_stats[which(summary_stats$V3 == 1786387), ]

  CHR\tSNP\tBP\tA1\tA2\tFRQ_A_53386\tFRQ_U_77258\tINFO\tOR\tSE\tP\tngt\tDirection\tHetISqt\tHetDf\tHetPVa\tNca\tNco\tNeff
1 7
  V2            V3      V4 V5 V6   V7    V8 V9      V10    V11     V12
1 7:1826023_T_G 1786387 T  G  0.74 0.746 1  0.98108 0.0098 0.05192 0
  V13
1 +--+-----+---++--+---+-+++-+--++++++--++---+++++---++-+-+-++-+-+--+-+-+-+--+
  V14  V15 V16    V17   V18   V19
1 13.8 75  0.1627 53386 77258 58749.13

In [94]:
summary_stats <- clean_and_standardize_colnames(summary_stats)

[1] "Z set already"

In [95]:
chr <- 7

In [96]:
ref <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
             select = c("#CHROM", "POS", "REF", "ALT"),
             col.names = c("CHR", "BP", "REF_EUR", "ALT_EUR"))

libd <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/libd_chr", chr, ".pvar"),
              select = c("#CHROM", "POS", "REF", "ALT"),
              col.names = c("CHR", "BP", "REF_libd", "ALT_libd"))

In [97]:
# Merge with reference and LIBD data by CHR and BP
merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))
merged_data <- merge(merged_ref, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

# Identify and flip alleles where necessary
flip_index <- which(merged_data$A1 != merged_data$REF_EUR)

In [40]:
summary_stats[which(summary_stats$BP == 1786387), ]

  CHR SNP           BP      A1 A2 FRQ_A_53386 FRQ_U_77258 INFO OR      SE     ⋯
1 7   7:1826023_T_G 1786387 T  G  0.74        0.746       1    0.98108 0.0098 ⋯
  ngt
1 0
  Direction
1 +--+-----+---++--+---+-+++-+--++++++--++---+++++---++-+-+-++-+-+--+-+-+-+--+
  HetISqt HetDf HetPVa Nca   Nco   Neff     logOR       Z
1 13.8    75    0.1627 53386 77258 58749.13 -0.01910127 -1.94911

Why a mismatch between BP and SNP?

In [98]:
# Flip alleles and BETA where necessary
if (length(flip_index) > 0) {
    merged_data[flip_index, `:=`(A1 = A2, A2 = A1, Z = -Z)]
}
summary_stats <- merged_data

In [99]:
head(flip_index)

[1] 26929 26931 26932 26933 26935 26936

In [100]:
length(flip_index)

[1] 774

In [101]:
dim(merged_ref)

[1] 345874     19

In [102]:
dim(merged_data)

[1] 345874     21

In [103]:
# # Define the columns that need to be retained, ensuring flexibility
# retain_cols <- intersect(c("CHR", "BP", "SNP", "A1", "A2", "BETA", "SE", "P", "PVAL", "Freq", 
#                            "NGT", "FCAS", "FCON", "IMPINFO", "NEFFDIV2", "NCAS", "NCON", "DIRE"), 
#                          names(merged_data))

# summary_stats <- merged_data[, ..retain_cols]

In [104]:
#colnames(ref)[3:4] <- c("REF_EUR", "ALT_EUR")
# Merge with reference and LIBD data by CHR and BP
merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))
merged_libd <- merge(merged_ref, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

In [105]:
# Get indices where A1 doesn't match REF_EUR or A2 doesn't match ALT_EUR
ref_mismatch_indices <- which(merged_ref$A1 != merged_ref$REF_EUR | merged_ref$A2 != merged_ref$ALT_EUR)

# Similarly for libd
libd_mismatch_indices <- which(merged_libd$A1 != merged_libd$REF_libd | merged_libd$A2 != merged_libd$ALT_libd)

In [106]:
# Get indices where A1 doesn't match REF_EUR or A2 doesn't match ALT_EUR
ref_mismatch_indices <- which(merged_ref$A1 != merged_ref$REF_EUR | merged_ref$A2 != merged_ref$ALT_EUR)

# Similarly for libd
libd_mismatch_indices <- which(merged_libd$A1 != merged_libd$REF_libd | merged_libd$A2 != merged_libd$ALT_libd)

In [107]:
dim(merged_libd)

[1] 345874     25

In [108]:
head(ref) # forward strand

  CHR BP    REF_EUR ALT_EUR
1 7   53998 C       T
2 7   60728 G       A
3 7   63494 A       G
4 7   71938 A       C
5 7   80500 T       C
6 7   82240 C       T

In [109]:
head(libd)

  CHR BP    REF_libd ALT_libd
1 7   53998 C        T
2 7   60728 G        A
3 7   63494 A        G
4 7   71938 A        C
5 7   80500 T        C
6 7   82240 C        T

For how many loci is there a mismatch between summary stats and ref_libd?
"I would suggest you change the sign of GWAS summary results to match alleles in the LIBD dataset"

In [110]:
length(libd_mismatch_indices)

[1] 0

For how many alleles is there a mismatch between summary stats and ref_EUR?

In [111]:
length(ref_mismatch_indices)

[1] 0

An issue we have is that if we only change sign of GWAS summary statistics with respect to alleles in LIBD dataset, we still have cases where both mismatch with ref_EUR, and flipped alleles in ref_EUR will change the z.cor used to compute p-values.

For how many loci do we have ref_libd and ref_EUR both disagree with summary stats?

In [45]:
ss_mismatch_both <- intersect(ref_mismatch_indices, libd_mismatch_indices)

In [46]:
length(ss_mismatch_both)

[1] 0

In [47]:
library(data.table)

# Assuming you have already loaded summary_stats, ref, and libd

# Merge summary stats with ref by CHR and BP
merged_data <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))

# Merge the result with libd by CHR and BP
merged_data <- merge(merged_data, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

# Now merged_data contains summary stats, ref, and libd alleles in one data.table

In [48]:
ref_mismatch_between_ref_libd <- which(merged_data$REF_EUR != merged_data$REF_libd)

In [49]:
length(ref_mismatch_between_ref_libd)

[1] 0

In [50]:
length(intersect(ref_mismatch_between_ref_libd, ss_mismatch_both))

[1] 0

In [51]:
dim(merged_data)

[1] 345874     25

In [52]:
# Logical condition where alleles match with both ref and libd
match_both <- (merged_data$A1 == merged_data$REF_EUR & merged_data$A2 == merged_data$ALT_EUR) &
              (merged_data$A1 == merged_data$REF_libd & merged_data$A2 == merged_data$ALT_libd)

# View rows where none mismatch
head(merged_data[match_both, ])

  CHR BP    SNP        A1 A2 logOR       SE     PVAL    NGT FCAS  ⋯
1 7   53998 rs7806592  C  T   0.01920441 0.0124 0.12170 24  0.202 ⋯
2 7   60728 rs4916941  G  A  -0.04609630 0.0304 0.13010 19  0.970 ⋯
3 7   63494 rs6964622  A  G   0.01240277 0.0136 0.36360 38  0.181 ⋯
4 7   71938 rs13437666 A  C  -0.04880166 0.0304 0.10830  1  0.969 ⋯
5 7   80500 rs12533719 T  C  -0.01620052 0.0111 0.14330  1  0.743 ⋯
6 7   82240 rs13236314 C  T   0.03040311 0.0126 0.01623  1  0.822 ⋯
  DIRE                                                      Z          REF_EUR
1 ----+-----+--++-+--+--++++--++-++++--++--+-++---+--+-+--+  1.5487427 C
2 +?-++-?-++-+++--+++-----+----++?+-+-+-?+-++-+++--+-+??+?? -1.5163255 G
3 ++++-+++++-++--+-++-++---+++--+----++-+++-+--++??+?-+-+++  0.9119681 A
4 -?---+?+--+---++---+++++--+++--?-+-+-+?-++-+---++-+-??-?? -1.6053179 A
5 +----+-++--+---+---+-+-+--+++-++----+++-++-+-+-++--+-++-- -1.4595065 T
6 --------+-------+--++----++++-+------+-++++-----+----+++-  2.4129449 C
  ALT_EUR REF_libd ALT_libd REF_EUR_ref ALT_EUR_ref REF_libd_libd ALT_libd_libd
1 T       C        T        C           T           C             T
2 A       G        A        G           A           G             A
3 G       A        G        A           G           A             G
4 C       A        C        A           C           A             C
5 C       T        C        T           C           T             C
6 T       C        T        C           T           C             T

In [53]:
# Logical condition where alleles match with both ref and libd
match_both <- (merged_data$A1 == merged_data$REF_EUR & merged_data$A2 == merged_data$ALT_EUR) &
              (merged_data$A1 == merged_data$REF_libd & merged_data$A2 == merged_data$ALT_libd)

# View rows where none mismatch
head(merged_data[match_both, ])

  CHR BP    SNP        A1 A2 logOR       SE     PVAL    NGT FCAS  ⋯
1 7   53998 rs7806592  C  T   0.01920441 0.0124 0.12170 24  0.202 ⋯
2 7   60728 rs4916941  G  A  -0.04609630 0.0304 0.13010 19  0.970 ⋯
3 7   63494 rs6964622  A  G   0.01240277 0.0136 0.36360 38  0.181 ⋯
4 7   71938 rs13437666 A  C  -0.04880166 0.0304 0.10830  1  0.969 ⋯
5 7   80500 rs12533719 T  C  -0.01620052 0.0111 0.14330  1  0.743 ⋯
6 7   82240 rs13236314 C  T   0.03040311 0.0126 0.01623  1  0.822 ⋯
  DIRE                                                      Z          REF_EUR
1 ----+-----+--++-+--+--++++--++-++++--++--+-++---+--+-+--+  1.5487427 C
2 +?-++-?-++-+++--+++-----+----++?+-+-+-?+-++-+++--+-+??+?? -1.5163255 G
3 ++++-+++++-++--+-++-++---+++--+----++-+++-+--++??+?-+-+++  0.9119681 A
4 -?---+?+--+---++---+++++--+++--?-+-+-+?-++-+---++-+-??-?? -1.6053179 A
5 +----+-++--+---+---+-+-+--+++-++----+++-++-+-+-++--+-++-- -1.4595065 T
6 --------+-------+--++----++++-+------+-++++-----+----+++-  2.4129449 C
  ALT_EUR REF_libd ALT_libd REF_EUR_ref ALT_EUR_ref REF_libd_libd ALT_libd_libd
1 T       C        T        C           T           C             T
2 A       G        A        G           A           G             A
3 G       A        G        A           G           A             G
4 C       A        C        A           C           A             C
5 C       T        C        T           C           T             C
6 T       C        T        C           T           C             T

In [54]:
# Logical condition where ss mismatches with libd but matches with ref
mismatch_libd_only <- (merged_data$A1 != merged_data$REF_libd | merged_data$A2 != merged_data$ALT_libd) &
                      (merged_data$A1 == merged_data$REF_EUR & merged_data$A2 == merged_data$ALT_EUR)

# View rows where ss mismatches with libd
head(merged_data[mismatch_libd_only, ])

Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     CHR BP SNP A1 A2 logOR SE PVAL NGT FCAS ⋯ DIRE Z REF_EUR ALT_EUR REF_libd
     ALT_libd REF_EUR_ref ALT_EUR_ref REF_libd_libd ALT_libd_libd

In [55]:
# Logical condition where ss mismatches with both ref and libd
mismatch_both <- (merged_data$A1 != merged_data$REF_EUR | merged_data$A2 != merged_data$ALT_EUR) &
                 (merged_data$A1 != merged_data$REF_libd | merged_data$A2 != merged_data$ALT_libd)

# View rows where ss mismatches with both ref and libd
head(merged_data[mismatch_both, ])

Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     CHR BP SNP A1 A2 logOR SE PVAL NGT FCAS ⋯ DIRE Z REF_EUR ALT_EUR REF_libd
     ALT_libd REF_EUR_ref ALT_EUR_ref REF_libd_libd ALT_libd_libd

Should be 262

In [56]:
# Check for mismatches with ref
mismatch_ref <- merged_data$A1 != merged_data$REF_EUR | merged_data$A2 != merged_data$ALT_EUR

# Verify the number of mismatches
length(which(mismatch_ref))

[1] 0

In [57]:
# Identify rows where alleles don't match for ref
ref_mismatches <- merged_ref[which(A1 != REF_EUR | A2 != ALT_EUR)]

In [58]:
#if(!all(ref_mismatches$A1 == ref_mismatches$REF_EUR)) stop("Mismatch between summary stats and reference population")

In [59]:
# Identify rows where alleles don't match for libd
libd_mismatches <- merged_libd[
    !((A1 == REF_libd & A2 == ALT_libd) | (A1 == ALT_libd & A2 == REF_libd))
]

Everything in reference genome dataset is also found in summary stats, but not everything in summary stats is found in this reference genome...?

In [60]:
dim(libd)

[1] 345874      4

In [61]:
head(ref)

  CHR BP    REF_EUR ALT_EUR
1 7   53998 C       T
2 7   60728 G       A
3 7   63494 A       G
4 7   71938 A       C
5 7   80500 T       C
6 7   82240 C       T

In [62]:
head(libd)

  CHR BP    REF_libd ALT_libd
1 7   53998 C        T
2 7   60728 G        A
3 7   63494 A        G
4 7   71938 A        C
5 7   80500 T        C
6 7   82240 C        T

In [63]:
merged_data[, matches_ref := (A1 == REF_EUR & A2 == ALT_EUR) | (A1 == ALT_EUR & A2 == REF_EUR)]

## Try for all chr

In [64]:
head(ref)

  CHR BP    REF_EUR ALT_EUR
1 7   53998 C       T
2 7   60728 G       A
3 7   63494 A       G
4 7   71938 A       C
5 7   80500 T       C
6 7   82240 C       T

In [65]:
head(summary_stats)

  CHR BP    SNP        A1 A2 logOR       SE     PVAL    NGT FCAS  ⋯ IMPINFO
1 7   53998 rs7806592  C  T   0.01920441 0.0124 0.12170 24  0.202 ⋯ 0.885
2 7   60728 rs4916941  G  A  -0.04609630 0.0304 0.13010 19  0.970 ⋯ 0.857
3 7   63494 rs6964622  A  G   0.01240277 0.0136 0.36360 38  0.181 ⋯ 0.871
4 7   71938 rs13437666 A  C  -0.04880166 0.0304 0.10830  1  0.969 ⋯ 0.845
5 7   80500 rs12533719 T  C  -0.01620052 0.0111 0.14330  1  0.743 ⋯ 0.938
6 7   82240 rs13236314 C  T   0.03040311 0.0126 0.01623  1  0.822 ⋯ 0.927
  NEFFDIV2 NCAS  NCON
1 50981.48 41917 371549
2 49458.29 40581 368564
3 43445.24 38084 103625
4 49458.29 40581 368564
5 50981.48 41917 371549
6 50981.48 41917 371549
  DIRE                                                      Z          REF_EUR
1 ----+-----+--++-+--+--++++--++-++++--++--+-++---+--+-+--+  1.5487427 C
2 +?-++-?-++-+++--+++-----+----++?+-+-+-?+-++-+++--+-+??+?? -1.5163255 G
3 ++++-+++++-++--+-++-++---+++--+----++-+++-+--++??+?-+-+++  0.9119681 A
4 -?---+?+--+---++---+++++--+++--?-+-+-+?-++-+---++-+-??-?? -1.6053179 A
5 +----+-++--+---+---+-+-+--+++-++----+++-++-+-+-++--+-++-- -1.4595065 T
6 --------+-------+--++----++++-+------+-++++-----+----+++-  2.4129449 C
  ALT_EUR REF_libd ALT_libd
1 T       C        T
2 A       G        A
3 G       A        G
4 C       A        C
5 C       T        C
6 T       C        T

In [66]:
summary_stats_paths

[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp"
[2] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_mdd"
[3] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_scz"

In [67]:
summary_stats_paths <- summary_stats_paths[!grepl("allele", summary_stats_paths)]

In [69]:
output_path

[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp_alleleprocessed.txt"

Make sure it works

In [115]:
chr

[1] 2

In [116]:
library(data.table)

# List all summary statistics files
# summary_stats_paths <- list.files("", pattern = "alleleprocessed.txt", full.names = TRUE)

for (summary_stats_path in summary_stats_paths[1]) {

    print(summary_stats_path)
    if (grepl("allele", basename(summary_stats_path))) next
    
    output_path <- sub(".txt", "_alleleprocessed.txt", summary_stats_path)
    
    if (!grepl("\\.", basename(output_path))) {
        output_path <- paste0(output_path, "_alleleprocessed.txt")
    }

    if (file.exists(output_path)) {
        #stop(paste("File already exists:", output_path))
    }

    summary_stats <- fread(summary_stats_path)
    summary_stats <- clean_and_standardize_colnames(summary_stats)

    # Make a copy of the original summary statistics
    original_summary_stats <- copy(summary_stats)

    flip_indices_list <- list()  # Initialize a list to store flip indices for each chromosome

    for (chr in 1:22) {
        # Load reference and LIBD data
        ref <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
                     select = c("#CHROM", "POS", "REF", "ALT"),
                     col.names = c("CHR", "BP", "REF_EUR", "ALT_EUR"))

        libd <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas/libd_chr", chr, ".pvar"),
                      select = c("#CHROM", "POS", "REF", "ALT"),
                      col.names = c("CHR", "BP", "REF_libd", "ALT_libd"))

        # Merge with reference and LIBD data by CHR and BP
        merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))
        merged_data <- merge(merged_ref, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

        # Identify flip indices
        flip_index <- which(merged_data$A1 != merged_data$REF)
        flip_indices_list[[chr]] <- flip_index
    }

    if(nrow(summary_stats) == 0) stop("no SNPs?")
    
    # Apply all flips across chromosomes
    for (chr in 1:22) {
        flip_index <- flip_indices_list[[chr]]
        if (length(flip_index) > 0) {
            # Print human-readable output before correction
            print("Found mismatch. Correcting the following rows:")
            print(original_summary_stats[flip_index, .(CHR, BP, A1, A2, Z)])
            
            # Apply the correction
            summary_stats[flip_index, `:=`(A1 = A2, A2 = A1, Z = -Z)]
            
            # Print human-readable output after correction
            print("After correction:")
            print(summary_stats[flip_index, .(CHR, BP, A1, A2, Z)])
        }
    }

    if(nrow(summary_stats) == 0) stop("no SNPs?")
    
    # Ensure dimensions, CHR, and BP match the original
    if (!all.equal(dim(summary_stats), dim(original_summary_stats)) ||
        !all.equal(summary_stats$CHR, original_summary_stats$CHR) ||
        !all.equal(summary_stats$BP, original_summary_stats$BP)) {
        stop("Mismatch between original and updated summary statistics in dimensions, CHR, or BP.")
    }

    # Write the updated summary statistics back to the file
    print(output_path)
    #fwrite(summary_stats, output_path)
}

[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_bp"

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 16 columns (i.e. invalid file). Added 15 extra default column names at the end.”

[1] "Setting Z"
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_bp_alleleprocessed.txt"

In [118]:
flip_indices_list

[[1]]
integer(0)

[[2]]
integer(0)

[[3]]
integer(0)

[[4]]
integer(0)

[[5]]
integer(0)

[[6]]
integer(0)

[[7]]
integer(0)

[[8]]
integer(0)

[[9]]
integer(0)

[[10]]
integer(0)

[[11]]
integer(0)

[[12]]
integer(0)

[[13]]
integer(0)

[[14]]
integer(0)

[[15]]
integer(0)

[[16]]
integer(0)

[[17]]
integer(0)

[[18]]
integer(0)

[[19]]
integer(0)

[[20]]
integer(0)

[[21]]
integer(0)

[[22]]
integer(0)

Now run for real

In [71]:
library(data.table)

# List all summary statistics files
# summary_stats_paths <- list.files("", pattern = "alleleprocessed.txt", full.names = TRUE)

for (summary_stats_path in summary_stats_paths) {

    print(summary_stats_path)
    if (grepl("allele", basename(summary_stats_path))) next
    
    output_path <- sub(".txt", "_alleleprocessed.txt", summary_stats_path)
    
    if (!grepl("\\.", basename(output_path))) {
        output_path <- paste0(output_path, "_alleleprocessed.txt")
    }

    if (file.exists(output_path)) {
        #stop(paste("File already exists:", output_path))
    }

    summary_stats <- fread(summary_stats_path)
    summary_stats <- clean_and_standardize_colnames(summary_stats)

    # Make a copy of the original summary statistics
    original_summary_stats <- copy(summary_stats)

    flip_indices_list <- list()  # Initialize a list to store flip indices for each chromosome

    for (chr in 1:22) {
        # Load reference and LIBD data
        ref <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
                     select = c("#CHROM", "POS", "REF", "ALT"),
                     col.names = c("CHR", "BP", "REF_EUR", "ALT_EUR"))

        libd <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas/libd_chr", chr, ".pvar"),
                      select = c("#CHROM", "POS", "REF", "ALT"),
                      col.names = c("CHR", "BP", "REF_libd", "ALT_libd"))

        # Merge with reference and LIBD data by CHR and BP
        merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))
        merged_data <- merge(merged_ref, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

        # Identify flip indices
        flip_index <- which(merged_data$A1 != merged_data$REF)
        flip_indices_list[[chr]] <- flip_index
    }

    if(nrow(summary_stats) == 0) stop("no SNPs?")
    
    # Apply all flips across chromosomes
    for (chr in 1:22) {
        flip_index <- flip_indices_list[[chr]]
        if (length(flip_index) > 0) {
            summary_stats[flip_index, `:=`(A1 = A2, A2 = A1, Z = -Z)]
        }
    }

    if(nrow(summary_stats) == 0) stop("no SNPs?")
    
    # Ensure dimensions, CHR, and BP match the original
    if (!all.equal(dim(summary_stats), dim(original_summary_stats)) ||
        !all.equal(summary_stats$CHR, original_summary_stats$CHR) ||
        !all.equal(summary_stats$BP, original_summary_stats$BP)) {
        stop("Mismatch between original and updated summary statistics in dimensions, CHR, or BP.")
    }

    # Write the updated summary statistics back to the file
    print(output_path)
    fwrite(summary_stats, output_path)
}

[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp"

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 16 columns (i.e. invalid file). Added 15 extra default column names at the end.”

[1] "Setting Z"
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp_alleleprocessed.txt"
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_mdd"
[1] "Setting Z"
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_mdd_alleleprocessed.txt"
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_scz"

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 19 columns (i.e. invalid file). Added 18 extra default column names at the end.”

[1] "Setting Z"
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_scz_alleleprocessed.txt"

In [72]:
output_path

[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_scz_alleleprocessed.txt"

In [79]:
head(fread("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_scz_alleleprocessed.txt"))

  CHR SNP              BP       A1 A2 FRQ_A_53386 FRQ_U_77258 INFO  OR
1 10  10:100082385_C_A 98322628 C  A  0.932       0.932       0.978 1.02501
2 10  10:100189568_C_A 98429811 C  A  0.927       0.925       0.913 1.01857
3 10  10:100383999_C_G 98624242 G  C  0.799       0.800       0.992 0.99144
4 10  10:100806365_A_C 99046608 A  C  0.118       0.118       1.000 0.98432
5 10  10:100813720_C_T 99053963 T  C  0.117       0.118       0.999 0.98285
6 10  10:101257658_T_G 99497901 G  T  0.257       0.258       1.000 1.00451
  SE     ⋯ ngt
1 0.0172 ⋯  0
2 0.0172 ⋯ 33
3 0.0108 ⋯  0
4 0.0134 ⋯ 30
5 0.0134 ⋯  0
6 0.0098 ⋯  0
  Direction
1 --+-+------+-+-+-++-+-++++---+++++-----+-+--+--++-+--++-+--+++++-+++--+-----
2 +++-+----++++-+-+---+--++-+++-+++-----+---+++++--+-----+--+---+-+-++-+--++-+
3 ++----+++-+--+++-++++++-++--++-+---+-++---+-+-+-+-+--+++-++--+++------+++++-
4 +0-++-++----+++++-++-+----+-++-+-++--+++----------++-----+---+++----+---+++-
5 -++--+--++++-----+--+-++++-+--+-+--++---++++++++++--+++++-+++---++++-+++---+
6 -+++-------+++-+--+++++--+--++++-+--+-++---+++++++-----+++--+--+-+--++++++-+
  HetISqt HetDf HetPVa  Nca   Nco   Neff     logOR        Z
1  0.0    75    0.64320 53386 77258 58749.13  0.024702369  1.4361842
2 11.7    75    0.20360 53386 77258 58749.13  0.018399683  1.0697490
3  2.4    75    0.41880 53386 77258 58749.13 -0.008596847  0.7960044
4 19.5    75    0.07654 53386 77258 58749.13 -0.015804232 -1.1794203
5 17.7    75    0.09876 53386 77258 58749.13 -0.017298765  1.2909526
6 17.3    75    0.10460 53386 77258 58749.13  0.004499860 -0.4591694

In [78]:
file.copy("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp_alleleprocessed.txt",
          "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_bp_alleleprocessed.txt")

file.copy("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_scz_alleleprocessed.txt",
          "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_scz_alleleprocessed.txt")

file.copy("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_mdd_alleleprocessed.txt",
          "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_mdd_alleleprocessed.txt")

[1] FALSE

[1] FALSE

[1] FALSE

In [70]:
head(fread(paste0(output_path)))

  CHR BP       SNP              A1 A2 logOR        SE     PVAL   NGT FCAS
1 10  98322628 10:100082385_C_A C  A   0.004001981 0.0201 0.8422  0  0.934
2 10  98429811 10:100189568_C_A C  A   0.010098835 0.0200 0.6135 25  0.925
3 10  98624242 10:100383999_C_G G  C  -0.007397293 0.0122 0.5428  0  0.799
4 10  99046608 10:100806365_A_C A  C  -0.002703652 0.0152 0.8603 26  0.119
5 10  99053963 10:100813720_C_T T  C  -0.003596460 0.0152 0.8123  0  0.118
6 10  99497901 10:101257658_T_G G  T   0.005096988 0.0112 0.6474  0  0.259
  FCON  IMPINFO NEFFDIV2 NCAS  NCON
1 0.941 0.971   43354.73 37940 103559
2 0.925 0.890   42290.42 36834 102499
3 0.797 1.000   43445.24 38084 103625
4 0.126 0.993   43445.24 38084 103625
5 0.126 0.990   43445.24 38084 103625
6 0.259 0.997   43445.24 38084 103625
  DIRE                                                      Z
1 +++-+--++-+-++---+--++++-++--++++++--+++-+-----??-?+--+?-  0.1991036
2 -++--++++--+-++++++-?---++--+--+-+---+-+----+++??-?+?+-?+  0.5049417
3 --++++-+++-++-++-+--++-++-+-+---+++-+----+--++-??-?---+-+  0.6063355
4 ++--++++-+-++---+++-+---+++-+--+---+--++---++++??+?---++- -0.1778718
5 --++----+-+--+++---+-+++---+-++-+++-++--+++-+--??-?+++--+  0.2366092
6 -+--+++----+-+--++++---+---++-++---+--++--+-+++??+?--+--+ -0.4550882

In [ ]:
dim(summary_stats)

In [ ]:
head(summary_stats)

In [ ]:
head(merged_ref)

In [ ]:
library(data.table)

summary_stats_paths <- list.files("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/", pattern = "alleleprocessed.txt", full.names = TRUE)

In [ ]:
summary_stats_paths

In [ ]:
library(data.table)


for (summary_stats_path in summary_stats_paths) {
    
    summary_stats <- fread(summary_stats_path)
    #summary_stats <- clean_and_standardize_colnames(summary_stats)

    total_mismatches <- 0  # Initialize counter for mismatches

    for (chr in 1:22) {
        # Load reference and LIBD data
        ref <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
                     select = c("#CHROM", "POS", "REF", "ALT"),
                     col.names = c("CHR", "BP", "REF", "ALT"))

        libd <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas/libd_chr", chr, ".pvar"),
                      select = c("#CHROM", "POS", "REF", "ALT"),
                      col.names = c("CHR", "BP", "REF_libd", "ALT_libd"))

        # Merge with reference and LIBD data by CHR and BP
        merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))
        merged_data <- merge(merged_ref, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

        # Count mismatches in allele orders
        mismatch_count <- merged_data[
            !(((A1 == REF & A2 == ALT) | (A1 == ALT & A2 == REF)) &
              ((A1 == REF_libd & A2 == ALT_libd) | (A1 == ALT_libd & A2 == REF_libd))),
            .N
        ]

        # Accumulate total mismatches
        total_mismatches <- total_mismatches + mismatch_count
    }

    # Print a message with the total count of mismatches
    cat("File:", summary_stats_path, "- Total mismatches:", total_mismatches, "\n")
}

In [ ]:
library(data.table)

summary_stats_paths <- list.files("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas/", pattern = "stat", full.names = TRUE)

In [122]:
for (summary_stats_path in summary_stats_paths) {
    print(summary_stats_path)
    summary_stats <- fread(summary_stats_path)
    summary_stats <- clean_and_standardize_colnames(summary_stats)

    total_mismatches <- 0  # Initialize counter for mismatches

    for (chr in 1:22) {
        # Load reference and LIBD data
        ref <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
                     select = c("#CHROM", "POS", "REF", "ALT"),
                     col.names = c("CHR", "BP", "REF", "ALT"))

        libd <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas/libd_chr", chr, ".pvar"),
                      select = c("#CHROM", "POS", "REF", "ALT"),
                      col.names = c("CHR", "BP", "REF_libd", "ALT_libd"))

        # Merge with reference and LIBD data by CHR and BP
        merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))
        merged_data <- merge(merged_ref, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

        # Identify mismatches in allele orders
        mismatches <- merged_data[
            !(((A1 == REF & A2 == ALT) | (A1 == ALT & A2 == REF)) &
              ((A1 == REF_libd & A2 == ALT_libd) | (A1 == ALT_libd & A2 == REF_libd)))
        ]

        # Count mismatches and accumulate total
        mismatch_count <- nrow(mismatches)
        total_mismatches <- total_mismatches + mismatch_count

        # Display the mismatches
        if (mismatch_count > 0) {
            cat("Chromosome:", chr, "- Mismatches found:\n")
            print(mismatches[, .(CHR, BP, A1, A2, REF, ALT, REF_libd, ALT_libd)])
        }
    }

    # Print a message with the total count of mismatches
    cat("File:", summary_stats_path, "- Total mismatches:", total_mismatches, "\n")
}

[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_bp"

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 16 columns (i.e. invalid file). Added 15 extra default column names at the end.”

[1] "Setting Z"
Chromosome: 11 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:    11 98556454      G      T      G      A        G        A
File: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_bp - Total mismatches: 1
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_bp_alleleprocessed.txt"
[1] "Z set already"
Chromosome: 11 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:    11 98556454      G      T      G      A        G        A
File: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_bp_alleleprocessed.txt - Total mismatches: 1
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_mdd"
[1] "Setting Z"
Chromosome: 1 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:     1 22412731      T      C      C      G        C        G
2:     1 81246306      A      G      C      T        C        T
Chromosome: 5 - Mismatches found:
Key: <CHR, BP>
     CHR        BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>     <int> <char> <char> <char> <char>   <char>   <char>
1:     5 133340061      A      C      C      G        C        G
Chromosome: 7 - Mismatches found:
Key: <CHR, BP>
     CHR      BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>   <int> <char> <char> <char> <char>   <char>   <char>
1:     7 6345022      A      G      G      T        G        T
Chromosome: 8 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:     8 14944930      C      G      C      T        C        T
Chromosome: 9 - Mismatches found:
Key: <CHR, BP>
     CHR        BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>     <int> <char> <char> <char> <char>   <char>   <char>
1:     9   6135696      A      C      A      T        A        T
2:     9 110277556      A      C      A      T        A        T
Chromosome: 14 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:    14 74942064      C      G      G      T        G        T
Chromosome: 20 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:    20 21719493      T      C      T      G        T        G
File: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_mdd - Total mismatches: 9
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_mdd_alleleprocessed.txt"
[1] "Z set already"
Chromosome: 1 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:     1 22412731      T      C      C      G        C        G
2:     1 81246306      A      G      C      T        C        T
Chromosome: 5 - Mismatches found:
Key: <CHR, BP>
     CHR        BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>     <int> <char> <char> <char> <char>   <char>   <char>
1:     5 133340061      A      C      C      G        C        G
Chromosome: 7 - Mismatches found:
Key: <CHR, BP>
     CHR      BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>   <int> <char> <char> <char> <char>   <char>   <char>
1:     7 6345022      G      A      G      T        G        T
Chromosome: 8 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:     8 14944930      C      G      C      T        C        T
Chromosome: 9 - Mismatches found:
Key: <CHR, BP>
     CHR        BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>     <int> <char> <char> <char> <char>   <char>   <char>
1:     9   6135696      A      C      A      T        A        T
2:     9 110277556      A      C      A      T        A        T
Chromosome: 14 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:    14 74942064      C      G      G      T        G        T
Chromosome: 20 - Mismatches found:
Key: <CHR, BP>
     CHR       BP     A1     A2    REF    ALT REF_libd ALT_libd
   <int>    <int> <char> <char> <char> <char>   <char>   <char>
1:    20 21719493      T      C      T      G        T        G
File: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_mdd_alleleprocessed.txt - Total mismatches: 9
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_scz"

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 19 columns (i.e. invalid file). Added 18 extra default column names at the end.”

[1] "Setting Z"
File: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_scz - Total mismatches: 0
[1] "/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_scz_alleleprocessed.txt"
[1] "Z set already"
File: /expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped//gwas_stat_scz_alleleprocessed.txt - Total mismatches: 0

In [129]:
head(fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar")))

  #CHROM POS   ID         REF ALT
1 7      53998 rs7806592  C   T
2 7      60728 rs4916941  G   A
3 7      63494 rs6964622  A   G
4 7      71938 rs13437666 A   C
5 7      80500 rs12533719 T   C
6 7      82240 rs13236314 C   T

In [ ]:
library(data.table)

# Initialize an empty table to collect all mismatches
all_mismatches <- data.table()  

for (summary_stats_path in summary_stats_paths) {
    print(summary_stats_path)
    summary_stats <- fread(summary_stats_path)
    summary_stats <- clean_and_standardize_colnames(summary_stats)

    total_mismatches <- 0  # Initialize counter for mismatches

    for (chr in 1:22) {
        # Load reference and LIBD data
        ref <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
                     select = c("#CHROM", "POS", "REF", "ALT", "ID"),
                     col.names = c("CHR", "BP", "REF", "ALT", "ID"))

        libd <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas/libd_chr", chr, ".pvar"),
                      select = c("#CHROM", "POS", "REF", "ALT"),
                      col.names = c("CHR", "BP", "REF_libd", "ALT_libd"))

        # Merge with reference and LIBD data by CHR and BP
        merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))
        merged_data <- merge(merged_ref, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

        # Identify mismatches in allele orders
        mismatches <- merged_data[
            !(((A1 == REF & A2 == ALT) | (A1 == ALT & A2 == REF)) &
              ((A1 == REF_libd & A2 == ALT_libd) | (A1 == ALT_libd & A2 == REF_libd)))
        ]

        # Count mismatches and accumulate total
        mismatch_count <- nrow(mismatches)
        total_mismatches <- total_mismatches + mismatch_count

        # Collect mismatches into the giant table
        if (mismatch_count > 0) {
            mismatches[, File := summary_stats_path]  # Add file information to the mismatches
            all_mismatches <- rbind(all_mismatches, mismatches[, .(File, CHR, BP, ID, A1, A2, REF, ALT, REF_libd, ALT_libd)])
        }
    }

    # Print a message with the total count of mismatches
    cat("File:", summary_stats_path, "- Total mismatches:", total_mismatches, "\n")
}

# Print the giant table with all mismatches
if (nrow(all_mismatches) > 0) {
    print("All mismatches collected across files:")
    print(all_mismatches)
} else {
    print("No mismatches found in any file.")
}

all_mismatches$File <- NULL
all_mismatches_id <- unique(all_mismatches$ID)

In [140]:
# Save the final list of mismatches to CSV with the suffix -pt2-from32a2
output_file <- "30-OUT_multi-allele_exclude_list_pt2-from32a2.txt"
fwrite(as.data.table(all_mismatches_id), output_file, col.names = FALSE)

In [135]:
head(all_mismatches)

  CHR BP        ID          A1 A2 REF ALT REF_libd ALT_libd
1 11   98556454 rs17132169  G  T  G   A   G        A
2 11   98556454 rs17132169  G  T  G   A   G        A
3  1   22412731 rs146143599 T  C  C   G   C        G
4  1   81246306 rs12035877  A  G  C   T   C        T
5  5  133340061 rs6880320   A  C  C   G   C        G
6  7    6345022 rs10235108  A  G  G   T   G        T

In [137]:
head(all_mismatches_id)

[1] "rs17132169"  "rs146143599" "rs12035877"  "rs6880320"   "rs10235108"
[6] "rs73201301"

In [138]:
length(all_mismatches_id)

[1] 10

In [139]:
all_mismatches

   CHR BP        ID          A1 A2 REF ALT REF_libd ALT_libd
1  11   98556454 rs17132169  G  T  G   A   G        A
2  11   98556454 rs17132169  G  T  G   A   G        A
3   1   22412731 rs146143599 T  C  C   G   C        G
4   1   81246306 rs12035877  A  G  C   T   C        T
5   5  133340061 rs6880320   A  C  C   G   C        G
6   7    6345022 rs10235108  A  G  G   T   G        T
7   8   14944930 rs73201301  C  G  C   T   C        T
8   9    6135696 rs2094756   A  C  A   T   A        T
9   9  110277556 rs10816958  A  C  A   T   A        T
10 14   74942064 rs1042886   C  G  G   T   G        T
11 20   21719493 rs6113330   T  C  T   G   T        G
12  1   22412731 rs146143599 T  C  C   G   C        G
13  1   81246306 rs12035877  A  G  C   T   C        T
14  5  133340061 rs6880320   A  C  C   G   C        G
15  7    6345022 rs10235108  G  A  G   T   G        T
16  8   14944930 rs73201301  C  G  C   T   C        T
17  9    6135696 rs2094756   A  C  A   T   A        T
18  9  110277556 rs10816958  A  C  A   T   A        T
19 14   74942064 rs1042886   C  G  G   T   G        T
20 20   21719493 rs6113330   T  C  T   G   T        G

In [136]:
print("test")

[1] "test"

In [144]:
chr <- 7

In [145]:
# Merge with reference data by CHR and BP
merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))

# Count mismatches in allele orders for ref
mismatch_count_ref <- merged_ref[
    !((A1 == REF & A2 == ALT) | (A1 == ALT & A2 == REF)),
    .N
]

In [147]:
ref <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
             select = c("#CHROM", "POS", "REF", "ALT"),
             col.names = c("CHR", "BP", "REF", "ALT"))

In [148]:
head(merged_ref)

  CHR BP       SNP        A1 A2 FRQ_A_53386 FRQ_U_77258 INFO  OR      SE     ⋯
1 22  16613859 rs2096537  A  C  0.143       0.142       0.879 0.99561 0.0131 ⋯
2 22  16615974 rs16984366 T  C  0.730       0.732       0.903 0.99134 0.0102 ⋯
3 22  16618572 rs8141034  C  G  0.730       0.732       0.905 0.99154 0.0102 ⋯
4 22  16623479 rs9606012  T  C  0.678       0.681       0.880 0.99362 0.0099 ⋯
5 22  16624111 rs8137722  T  G  0.679       0.681       0.881 0.99372 0.0099 ⋯
6 22  16624607 rs11703045 C  T  0.730       0.732       0.905 0.99144 0.0102 ⋯
  HetDf HetPVa Nca   Nco   Neff     logOR        Z          REF ALT ID
1 75    0.5543 53386 77258 58749.13 -0.004399664 -0.3358522 A   C   rs2096537
2 75    0.1832 53386 77258 58749.13 -0.008697716 -0.8527172 T   C   rs16984366
3 75    0.1725 53386 77258 58749.13 -0.008495989 -0.8329401 C   G   rs8141034
4 75    0.5945 53386 77258 58749.13 -0.006400439 -0.6465090 T   C   rs9606012
5 75    0.5994 53386 77258 58749.13 -0.006299802 -0.6363437 T   G   rs8137722
6 75    0.1811 53386 77258 58749.13 -0.008596847 -0.8428282 C   T   rs11703045

In [150]:
head(merged_ref)

  CHR BP       SNP        A1 A2 FRQ_A_53386 FRQ_U_77258 INFO  OR      SE     ⋯
1 22  16613859 rs2096537  A  C  0.143       0.142       0.879 0.99561 0.0131 ⋯
2 22  16615974 rs16984366 T  C  0.730       0.732       0.903 0.99134 0.0102 ⋯
3 22  16618572 rs8141034  C  G  0.730       0.732       0.905 0.99154 0.0102 ⋯
4 22  16623479 rs9606012  T  C  0.678       0.681       0.880 0.99362 0.0099 ⋯
5 22  16624111 rs8137722  T  G  0.679       0.681       0.881 0.99372 0.0099 ⋯
6 22  16624607 rs11703045 C  T  0.730       0.732       0.905 0.99144 0.0102 ⋯
  HetDf HetPVa Nca   Nco   Neff     logOR        Z          REF ALT ID
1 75    0.5543 53386 77258 58749.13 -0.004399664 -0.3358522 A   C   rs2096537
2 75    0.1832 53386 77258 58749.13 -0.008697716 -0.8527172 T   C   rs16984366
3 75    0.1725 53386 77258 58749.13 -0.008495989 -0.8329401 C   G   rs8141034
4 75    0.5945 53386 77258 58749.13 -0.006400439 -0.6465090 T   C   rs9606012
5 75    0.5994 53386 77258 58749.13 -0.006299802 -0.6363437 T   G   rs8137722
6 75    0.1811 53386 77258 58749.13 -0.008596847 -0.8428282 C   T   rs11703045

In [149]:
merged_ref[which(merged_ref$BP == 1910701), ]

Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, chars$ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     CHR BP SNP A1 A2 FRQ_A_53386 FRQ_U_77258 INFO OR SE ⋯ HetDf HetPVa Nca Nco
     Neff logOR Z REF ALT ID

In [152]:
ref[which(ref$BP == 1910701), ]

  CHR BP      REF ALT
1 7   1910701 G   A

In [151]:
head(ref)

  CHR BP    REF ALT
1 7   53998 C   T
2 7   60728 G   A
3 7   63494 A   G
4 7   71938 A   C
5 7   80500 T   C
6 7   82240 C   T

In [119]:
for (summary_stats_path in summary_stats_paths) {
    
    summary_stats <- fread(summary_stats_path)
    summary_stats <- clean_and_standardize_colnames(summary_stats)

    total_mismatches_ref <- 0  # Initialize counter for ref mismatches
    total_mismatches_libd <- 0  # Initialize counter for libd mismatches

    cat("Processing file:", summary_stats_path, "\n\n")  # Print the file being processed

    for (chr in 1:22) {
        # Load reference data
        ref <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas_flipped/ref_EUR_allele-match-libd_chr", chr, ".pvar"),
                     select = c("#CHROM", "POS", "REF", "ALT"),
                     col.names = c("CHR", "BP", "REF", "ALT"))

        # Merge with reference data by CHR and BP
        merged_ref <- merge(summary_stats, ref, by = c("CHR", "BP"), suffixes = c("", "_ref"))

        # Count mismatches in allele orders for ref
        mismatch_count_ref <- merged_ref[
            !((A1 == REF & A2 == ALT) | (A1 == ALT & A2 == REF)),
            .N
        ]

        # Accumulate total ref mismatches
        total_mismatches_ref <- total_mismatches_ref + mismatch_count_ref

        # Print mismatches per chromosome for ref
        cat("Chromosome:", chr, "- ref mismatches:", mismatch_count_ref, "\n")
    }

    cat("\n")  # Line break between ref and libd processing

    for (chr in 1:22) {
        # Load LIBD data
        libd <- fread(paste0("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas/libd_chr", chr, ".pvar"),
                      select = c("#CHROM", "POS", "REF", "ALT"),
                      col.names = c("CHR", "BP", "REF_libd", "ALT_libd"))

        # Merge with LIBD data by CHR and BP
        merged_libd <- merge(summary_stats, libd, by = c("CHR", "BP"), suffixes = c("", "_libd"))

        # Count mismatches in allele orders for libd
        mismatch_count_libd <- merged_libd[
            !((A1 == REF_libd & A2 == ALT_libd) | (A1 == ALT_libd & A2 == REF_libd)),
            .N
        ]

        # Accumulate total libd mismatches
        total_mismatches_libd <- total_mismatches_libd + mismatch_count_libd

        # Print mismatches per chromosome for libd
        cat("Chromosome:", chr, "- libd mismatches:", mismatch_count_libd, "\n")
    }

    # Print summary of total mismatches for the file
    cat("\nFile:", summary_stats_path, "- Total ref mismatches:", total_mismatches_ref, "\n")
    cat("File:", summary_stats_path, "- Total libd mismatches:", total_mismatches_libd, "\n\n")
}

Warning message in fread(summary_stats_path):
“Detected 1 column names but the data has 16 columns (i.e. invalid file). Added 15 extra default column names at the end.”

In [142]:
total_mismatches_ref

[1] 0

In [143]:
total_mismatches_libd

[1] 0

In [ ]:
file.remove("/expanse/lustre/projects/jhu152/naglemi/mwas/gwas//gwas_stat_bp_alleleprocessed_alleleprocessed.txt")

In [ ]:
head(summary_stats)